# 시스템 디렉토리 무시
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
시작 메뉴/

# 기타 무시할 디렉토리
.VirtualBox/
.anaconda/
.conda/
.docker/
.gitconfig
.vscode/
node_modules/